*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
*.bak
**.bak
*.good
**.good
*.new
**.new
*.tgz
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/public/images/*
/public/uploads/*
/ignore/*
/ignore
*.DS_Store
**.DS_Store
/public/assets/*
/public/assets
/public/cache
/public/cache/*
doc/*
*.psd

# For emacs
*~
\#*\#
auto-save-list
tramp
.\#*

# For sublime
*.sublime-project
*.sublime-workspace

# /test/fixtures/*

Gemfile.lock.new

coverage

/test/casper/attachments/*
/test/casper/screens/*
/test/casper/texts/*
/test/casper/piggybackr.js
/test/casper/escrip
/test/casper/suite.sh

temporary_backup.dump
./cp-local
./ck-local

.env
